<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="wodstar_android.wodstar_android" android:versionName="0.1">
	<uses-sdk />
	<application android:label="Wodstar" android:icon="@drawable/icon"></application>
</manifest>